= form_for @question, url: subtopic_questions_path, html: { multipart: true } do |f|
  - if @question.errors.any?
    #error_explanation
      %h2= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:"
      %ul
        - @question.errors.full_messages.each do |msg|
          %li= msg

  .field
    - @subtopic = Subtopic.find(params[:subtopic_id])
    = f.label @subtopic.title
    =f.select :subtopic_id, :selected => params[:subtopic_id]
    
  %br/

  .field
    = f.cktext_area  :question

  .field
    = f.simple_fields_for :response do |r|
      = render "response_fields", f: r

  %br/
  .actions

    = f.submit 'Save Changes', class: "btn btn-success pull-right"
