= form_for @semester do |f|
  - if @semester.errors.any?
    #error_explanation
      %h2= "#{pluralize(@semester.errors.count, "error")} prohibited this semester from being saved:"
      %ul
        - @semester.errors.full_messages.each do |msg|
          %li= msg
          
  .field
    = f.label :name
    = f.text_field :name
  .field
    =f.label :Year
    =f.select :year_id, Year.all.map { |y| [y.year, y.id] }

    .actions
    = f.submit 'Save'
