%table.table.table-hover
  %thead
    %tr
      %th Name
      %th Code
      %th Unit
      %th Attachment
      %th

  %tbody
    - topics.each do |topic|
      %tr
        %td= link_to topic.name, topic
        %td= topic.code
        %td= link_to topic.unit.name, units_path
        %td= image_tag topic.attachment_url(:thumb)
        %td
          -if current_user && current_user.is_admin?
            = link_to 'Edit', edit_topic_path(topic), class: "label label-warning"
            = link_to 'Destroy', topic, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "label label-danger"
            = link_to "Download", download_topic_path(topic), class: "label label-success"