%table.table.table-hover
  %thead
    %tr
      %th Name
      %th Unit
      %th Options
      %th

  %tbody
    - topics.each do |topic|
      %tr
        %td= topic.name
        %td= link_to topic.unit.name, units_path
        / %td= topic.unit.name
        / %td= image_tag topic.attachment_url(:thumb)
        %td
          -if current_user && current_user.is_admin?
            = link_to 'Edit', edit_topic_path(topic), class: "label label-default"
            = link_to "Show",topic, class: "label label-warning"
            = link_to 'Destroy', topic, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "label label-danger"
          -elsif current_user && current_user.is_moderator?
            = link_to 'Edit', edit_topic_path(topic), class: "label label-default"