%table.table.table-hover
  %thead
    %tr
      %th Mpesa Code
      %th Message
      %th Phone Number
      %th Since reception it has been
      %th

  %tbody
    - smses.each do |sms|
      %tr
        %td= sms.mpesa_code
        %td= sms.message
        %td= sms.phone
        - from_time = sms.created_at
        %td= time_ago_in_words(from_time)
        %td
= will_paginate smses, renderer: BootstrapPagination::Rails