= simple_form_for @subtopic, :html => {:multipart => true}  do |f|
  = f.error_notification

  - if @subtopic.errors.any?
    #error_explanation
      %h2= "#{pluralize(@subtopic.errors.count, "error")} prohibited this subtopic from being saved:"
      %ul
        - @subtopic.errors.full_messages.each do |msg|
          %li= msg

 
  .field
    = f.label :Title
    = f.text_field :title, :placeholder => "Enter the subtopic's title"
  .field
    =f.label :topic
    =f.select :topic_id, Topic.all.map { |t| [t.name, t.id]}
  .actions
    = f.submit 'Save', class: "btn btn-default"
