%p#notice= notice

%ol
	-if  @subtopic.questions.empty?
		%p
			This subtopics has no questions yet
			-if current_user.is_moderator? || current_user.is_admin?
				= link_to 'Add questions!', edit_subtopic_path(@subtopic), class: "label label-pill label-success"
	-else
		-for question in @subtopic.questions
			%li= raw question.question
			%ul
				/ -if current_user.has_paid? @subtopic.unit.id
				- if question.response.nil?
					%p
						This question has no answer yet
				-else
					= raw question.response.answer
				
					/ = question.response.video.url unless question.response.video.nil?
					/ - if question.response.video.nil?
							


				/ -else
				/ =link_to 'Pay to get the answer', api_v1_pay_path(:payment =>{ :user_id => current_user.id, :unit_id => @subtopic.unit.id , :package => "standard"}, :auth_token => current_user.authentication_token), method: :post, class: "btn btn-success"
				


	-if current_user.is_moderator? || current_user.is_admin?			
		= link_to 'Add questions!', edit_subtopic_path(@subtopic), class: "label label-pill label-success"

/ =link_to 'Pay to get the answer', api_v1_pay_path(:params =>{ :subtopic_id => @subtopic.id, :user_id => current_user.id}), method: :post, class: "btn btn-success"



%p= @subtopic.topic.unit.name

%p
	= link_to 'Back', subtopics_path, class: "btn btn-default"
	-if current_user.is_moderator? || current_user.is_admin?
		.btn-group{"aria-label" => "...", :role => "group"}
			= link_to 'Edit', edit_subtopic_path(@subtopic), class: "btn btn-primary"


= link_to 'Edit', edit_subtopic_path(@subtopic)
\|
= link_to 'Back', subtopics_path
