<div class="container" style="margin-top:90px">
  <div style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-default" >
      <div class="panel-heading">
          <div class="panel-title">Sign In</div>
          <!-- <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div> -->
      </div> 

      <div style="padding-top:30px" class="panel-body" >
        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

        <!-- <form id="loginform" class="form-horizontal" role="form"> -->
           <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon">  <i class="glyphicon glyphicon-user"></i></span>
              <%= f.email_field :email, autofocus: true, placeholder: "Your email" ,class: "form-control" %> 
            </div>


          <div class="form-group">
            <div style="margin-bottom: 25px" class="input-group">
             <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <%= f.password_field :password, autocomplete: "off", placeholder: "password", class: "form-control" %>
            </div> 
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="input-group">
              <div class="checkbox" style="margin-top: 0px;" >
                <label >
                  <%= f.check_box :remember_me %><%= f.label :remember_me %>
                </label>
              </div>
            </div>
          <% end -%>

          <div style="margin-top:10px" class="form-group">
            <div class="col-sm-12 controls">
              <%= f.submit "Log in", class: "btn btn-success" %>
              <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2), class: "btn btn-warning" %>
              <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>

        <div class="form-group">
          <div class="col-md-12 control">
              <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%; margin-top:15px ">
                  Don't have an account! 
              <!-- <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                  Sign Up Here

              </a> -->
              <%= render "devise/shared/links" %>
              </div>
          </div>
        </div> 

     
    <!-- </form> -->

        </div>
      </div>
</div>


<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>
                            Bhaumik Patel</h4>
                        <small><cite title="San Francisco, USA">San Francisco, USA <i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>email@example.com
                            <br />
                            <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com">www.jquery2dotnet.com</a>
                            <br />
                            <i class="glyphicon glyphicon-gift"></i>June 02, 1988</p> -->
                        <!-- Split button
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">
                                Social</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span><span class="sr-only">Social</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Twitter</a></li>
                                <li><a href="https://plus.google.com/+Jquery2dotnet/posts">Google +</a></li>
                                <li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Github</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 -->