/ = chartjs_pie_chart @data1
.row
  .span6
    - Time.zone = 'Nairobi'
  /   = line_chart User.group_by_day(:created_at).count
  / .span6
  /   = line_chart User.group_by_day(:created_at).count
.row
  .col-md-6
    .box.box-primary
      .box-header.with-border
        .box-title
          %h3 Signups
        .box-tools.pull-right
          %button.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"}
            %i.fa.fa-minus
      .box-body.chart-responsive
        = chartjs_line_chart data, options 

  .row-fluid
    .col-xs-12.col-sm-6.col-md-6
      .well.well-sm
        .row
          .col-sm-6.col-md-8
            %h4
              %p Unit Activities Today
        = pie_chart  UnitActivity.group_by_hour_of_day(:created_at, range: 1.day.ago..Time.now).count




%table.table.table-hover
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Email
      %th Phone Number
      %th Since Sign up it has been
      %th Topics bought
      %th

  %tbody
    - users.each do |user|
      %tr
        %td= user.first_name
        %td= user.second_name
        %td= user.email
        %td= user.phone_number
        - from_time = user.created_at
        %td= time_ago_in_words(from_time)
        %td 
          %span.label.label-default.label-pill.pull-xs-right  #{user.purchases.count} 
        %td
          -if current_user && current_user.is_admin?
            = link_to 'Show Details',  user, class: "label label-warning"
            = link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "label label-danger"
            -unless current_user == user
              -if user.is_moderator?
                = link_to " Moderator - Make Normal user", user_make_normal_user_path(user), class: "label label-pill label-default"
              -elsif user.is_admin?
                = link_to " Admin Make Normal user",  user_make_normal_user_path(user), :data => { :confirm => 'Are you sure?' }, class: "label label-pill label-info"
              -else
                = link_to "Make moderator", user_make_moderator_path(user), :data => { :confirm => 'Are you sure?' }, class: "label label-success"