= form_for @unit do |f|
  - if @unit.errors.any?
    #error_explanation
      %h2= "#{pluralize(@unit.errors.count, "error")} prohibited this unit from being saved:"
      %ul
        - @unit.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    =f.label :Semester
    =f.select :semester_id, Semester.all.map { |s| [s.name, s.id]}
  .field
    = f.label :price
    = f.select :price_id, Price.all.map {|p| [p.content, p.id]}
  .field
    = f.label :Institution
    = f.select :institution_id, Institution.all.map {|i| [i.name, i.id]}

  .actions
    = f.submit 'Save'
