%table.table.table-hover
  %thead
    %tr
      %th Name
      

  %tbody
    - units.each do |unit|
      %tr
        %td= unit.name
        %td= link_to unit.semester.name, semesters_path
        %td
          -if current_user && current_user.is_admin?
            = link_to 'Edit', edit_unit_path(unit), class: "label label-pill label-default"
            = link_to 'Destroy', unit, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "label label-pill label-danger"
            = link_to 'Show', unit, class: "label label-pill label-warning"
          -elsif current_user && current_user.is_moderator?
            = link_to 'Edit', edit_unit_path(unit), class: "label label-pill label-default"
            = link_to 'Show', unit, class: "label label-pill label-warning"
%br
= will_paginate units, renderer: BootstrapPagination::Rails