= simple_form_for @exam do |f|
  - if @exam.errors.any?
    #error_explanation
      %h2= "#{pluralize(@exam.errors.count, "error")} prohibited this exam from being saved:"
      %ul
        - @exam.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :Exam_Title
    = f.text_field :title , size: 100
  .field
    = f.label :date
    = f.datetime_select :date

  .field
    = f.simple_fields_for :questions do |question|
      = render "question_fields", f: question
    .links
      = link_to_add_association 'Add Question', f, :questions

  .field
    =f.label :unit
    =f.select :unit_id, Unit.all.map { |u| [u.name, u.id]}


  .actions
    = f.submit 'Save'
