.nested-fields
	%br/
	= f.label :question, "Question"
	= link_to_remove_association "Remove Question", f
	%br/
	= f.cktext_area :question, :cols => 30, :ckeditor => {:uiColor => '#f7931e', :toolbar => 'mini'}
	%br/
	.link
		= link_to_add_association 'Add Answer', f, :response


	= f.fields_for :response do |answer|
		=render "response_fields", f: answer