%table.table.table-hover
  %thead
    %tr
      %th Name
      %th Unit
      %th University
      %th

  %tbody
    - exams.each do |exam|
      %tr
        %td= link_to exam.title, exam
        %td= exam.unit.name
        %td= exam.unit.semester.year.course.university.name
        %td
          - if can? :update, @exam
            = link_to 'Edit', edit_exam_path(exam), class: "label label-warning"
            = link_to 'Destroy', exam, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "label label-danger"
            = link_to "Download", download_exam_path(exam), class: "label label-success"