%h1= @exam.title


/ %p= image_tag @exam.attachment_url(:large), height: "300"

/ %p= @exam.questions.question
%ol
	-if  @exam.questions.empty?
		%p
			This Exams has no questions yet
			-if current_user.is_moderator? || current_user.is_admin?
				= link_to 'Add questions!', edit_exam_path(@exam), class: "label label-pill label-success"
	-else
		-for question in @exam.questions
			%li= raw question.question
			%ul
				/ -if current_user.has_paid? @exam.unit.id
				- if question.response.nil?
					%p
						This question has no answer yet
				-else
					%li= raw question.response.answer
					%ul
						%video{:controls => "controls", :height => "240", :width => "320", :float => "left"}
							%source{:src => "#{question.response.video.url}"}/
							Your browser does not support the video tag.
						= question.response.video.url unless question.response.video.nil?
						/ - if question.response.video.nil?
							


				/ -else
				/ =link_to 'Pay to get the answer', api_v1_pay_path(:params =>{:user_id => current_user.id, :unit_id => @exam.unit.id }), method: :post, class: "btn btn-success"
					


	-if current_user.is_moderator? || current_user.is_admin?			
		= link_to 'Add questions!', edit_exam_path(@exam), class: "label label-pill label-success"

/ =link_to 'Pay to get the answer', api_v1_pay_path(:params =>{ :exam_id => @exam.id, :user_id => current_user.id}), method: :post, class: "btn btn-success"



%p= @exam.unit.name

%p
	= link_to 'Back', exams_path, class: "btn btn-default"
	-if current_user.is_moderator? || current_user.is_admin?
		.btn-group{"aria-label" => "...", :role => "group"}
			= link_to 'Edit', edit_exam_path(@exam), class: "btn btn-primary"
