%h1= @exam.title


/ %p= image_tag @exam.attachment_url(:large), height: "300"

/ %p= @exam.questions.question
%ol
	-for question in @exam.questions
		%li= raw question.question
		%ul
			-if current_user.has_paid? @exam.unit.id, @exam.unit.semester.id
				- if question.response.nil?
					%p
						This question has no answer yet
				-else
					= raw question.response.answer
			-else
				=link_to 'Pay to get the answer', api_v1_pay_path(:params =>{ :exam_id => @exam.id, :user_id => current_user.id, :unit_id => @exam.unit.id, :semester_id => @exam.unit.semester.id }), method: :post, class: "btn btn-success"

				

%p= @exam.unit.name

%p
	- if can? :manage, @exam
		= link_to 'Edit', edit_exam_path(@exam)
		\|
		= link_to 'Back', exams_path