%h1= @exam.title


/ %p= image_tag @exam.attachment_url(:large), height: "300"

/ %p= @exam.questions.question
%ol
	-for question in @exam.questions
		%li= raw question.question
		%ul
			=raw question.response.answer
				

%p= @exam.unit.name

%p
	- if can? :manage, @exam
		= link_to 'Edit', edit_exam_path(@exam)
		\|
		= link_to 'Back', exams_path