<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="#">Darasa</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <% if current_user.is_admin? %>
              <li class="active"> <%= link_to "Topics", topics_path %> </a></li>
              <li> <%= link_to "Subtopics", subtopics_path %> </a></li>
              <li> <%= link_to "Users", user_index_path %> </a></li>
              <li> <%= link_to "All Questions", questions_path %> </a></li>
              <li class="dropdown">
                <%= link_to "#", data: { toggle: "dropdown"} do %>
                  Units
                  <span class="caret"></span>
                  <%- end %>
                <ul class="dropdown-menu">
                  <% @units.each do |unit|%>
                    <li><%= link_to unit.name, unit %></li>
                    <% end %>
                </ul>
              </li> 
           <%else%>
                <li class="active"> <%= link_to "Topics", topics_path %> </a></li>
                <li> <%= link_to "Subtopics", subtopics_path %> </a></li>
                <li> <%= link_to "All Questions", questions_path %> </a></li>
                <li class="dropdown">
                  <%= link_to "#", data: { toggle: "dropdown"} do %>
                    Units
                    <span class="caret"></span>
                    <%- end %>
                  <ul class="dropdown-menu">
                    <% @units.each do |unit|%>
                      <li><%= link_to unit.name, unit %></li>
                      <% end %>
                  </ul>
                </li> 
            
              <%end%>
        <%end%>

        <!-- <li class="dropdown">
          <%= link_to "#", data: { toggle: "dropdown"} do %>
            Semesters
            <span class="caret"></span>
            <%- end %>
          <ul class="dropdown-menu">
            <% @semesters.each do |sem|%>
              <li><%= link_to sem.name, sem %></li>
              <% end %>
          </ul>
        </li>
        <li class="dropdown">
          <%= link_to "#", data: { toggle: "dropdown"} do %>
            Years
            <span class="caret"></span>
            <%- end %>
          <ul class="dropdown-menu">
            <% @years.each do |year|%>
              <li><%= link_to year.year, year %></li>
              <% end %>
          </ul>
        </li>
        <li class="dropdown">
          <%= link_to "#", data: { toggle: "dropdown"} do %>
            Courses
            <span class="caret"></span>
            <%- end %>
          <ul class="dropdown-menu">
            <% @courses.each do |course|%>
              <li><%= link_to course.name, course %></li>
              <% end %>
          </ul>
        </li> 
        <li class="dropdown">
          <%= link_to "#", data: { toggle: "dropdown"} do %>
            Institutions
            <span class="caret"></span>
            <%- end %>
          <ul class="dropdown-menu">
            <% @institutions.each do |uni|%>
              <li><%= link_to uni.name, uni %></li>
              <% end %>
          </ul>
        </li>         -->
      </ul>
      <!-- User Login  -->
      <p class="navbar-text navbar-right">
        <% if user_signed_in? %>
          Logged in as <%= current_user.first_name %>.
          <%= link_to "Logout", destroy_user_session_path, method: :delete%>  
          <% else %>
            <%= link_to "Login", new_user_session_path, class: "navbar-link" %>
        <%end%>
      </p>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>