%h1 Universities 
/ =@university.name

/ %table
/   %thead
/     %tr
/       %th Name
/       %th
/       %th
/       %th

/   %tbody
/     - @universities.each do |university|
/       %tr
/         %td= university.name
/         %td= link_to 'Show', university
/         %td= link_to 'Edit', edit_university_path(university)
/         %td= link_to 'Destroy', university, :method => :delete, :data => { :confirm => 'Are you sure?' }

/ %br



%table.table.table-hover
  %thead
    %tr
      %th Name
      

  %tbody
    - @universities.each do |university|
      %tr
        %td= university.name
        / %td= link_to university.course.name, courses_path
        %td
          -if current_user && current_user.admin?
            = link_to 'Edit', edit_university_path(university)
            = link_to 'Destroy', university, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

/ =render "courses/table"
.row
  .col-sm-15.col-md-15
    - @universities.each do |university|
      .col-sm-6.col-md-4
        .thumbnail
          %img{:alt => "...", :src => "..."}
            .caption
              %h3 #{university.name}
              %p ...
              %p
                -if current_user && current_user.admin?
                  = link_to 'Edit', edit_university_path(university), class: "btn btn-primary"
                  = link_to 'Destroy', university, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-default"                
                  = link_to 'View Courses', university_path(university), class: "btn btn-success"
                / %a.btn.btn-primary{:href => "#", :role => "button"} Button
                / %a.btn.btn-default{:href => "#", :role => "button"} Button

/ =@course.university.name

-if current_user.admin?
  = link_to 'New University', new_university_path, class: "btn btn-primary"
