= form_for @year do |f|
  - if @year.errors.any?
    #error_explanation
      %h2= "#{pluralize(@year.errors.count, "error")} prohibited this year from being saved:"
      %ul
        - @year.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :year
    = f.text_field :year
  .field
    =f.label :Course
    =f.select :course_id, Course.all.map { |c| [c.name, c.id] }
  .actions
    = f.submit 'Save'
