<!DOCTYPE html>
<html>
<head>
  <title>DarasaApp</title>
  <%= stylesheet_link_tag    "application", media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>

<!-- User Login  -->
<% if user_signed_in? %>
	<%= render 'nav' %>
	<% else %>
	   
<%end%>


	<!-- <p class="notice"><%= notice %></p> -->
<!-- <p class="alert"><%= alert %></p> -->



<div class='container'>	


	<%= render 'flash'%>
	<%= yield %>
</div>




</body>
</html>